body {
    font-family: "Calibri";
    background-size: cover;
    background-color: lavender;
}
.header{/
251587420
padding: 20px;
}
.headline1 {
    color: black;
    text-align: center;
    font-family: "Calibri";
    font-size: 36px;
    border-bottom: 2px solid black;
}

.headline2 {
    color: black;
    text-align: center;
    font-family: "Calibri";
    font-size: 28px;
    border-bottom: 2px solid black;
}

th {
    padding: 25px;
    max-width: 150px;
    background-color: white;
    border-collapse: collapse;
}
tr {

    background-color: #f9f9f9;
}

td {
    padding: 25px;
    border-collapse: collapse;


}

button {
    background-color: green;
    color: white;
    padding: 3px 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
}

button:hover {
    background-color:lightgreen;
}