
body {
    background-color: #eef3f6;
}

header {
    padding-top: 30px;
    min-height: 70px;
    background: lightblue;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    width: 100%;
    margin: 0;
}

.headline1 {
    margin: auto;
    font-size: 2rem;
    text-align: left;
    font-weight: normal;
    color: white;
    padding: 5px 20px;
}
nav ul {
    overflow: hidden;
    margin: 0;
    float: right;
    padding-top: 20px;
}

.add-wish-box {
    padding: 12px;
    margin-top: 200px;
    margin-left: 200px;
    margin-bottom: 10px;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: block;
    clear: both;
    background-color: #f5f5f5;
    border: 2px solid #ccc;
    text-align: center;
    transition: background-color 0.3s, border-color 0.3s;
    min-height: 200px;
    min-width: 400px;
}

.add-wish-box-add {
    background-color: lightgreen;
}

.add-wish-text {
    margin: 0;
    font-size: 1.2rem;

}

.buttons {
    display: inline;
    float: left;
    margin-left: 70px;
}

ul.topnav li {
    list-style: none;
    float: left;
    margin-left: 10px;
}

ul.topnav li a {
    color: #666;
    text-decoration: none;
    padding: 20px;
    text-transform: uppercase;
    font-size: 18px;
}

.texts {
    display: inline;
    float: right;
    max-width: 400px;
    line-height: 30px;
    margin-right: 200px;
    margin-top: 30px;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px 20px;


}
