div.header {
    text-align: center;
}
.headlines {
    background-color: lightblue;
    margin-top: -10px;
    overflow: hidden;
}
.headline1 {
    padding: 20px 40px;
    color: cadetblue;
    margin: 0;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    background-color: lightblue;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

nav {
    display: block;
    width: calc(100% - 200px);
    margin: 0 auto;
}
nav ul {
    background-color: lightblue;
    overflow: hidden;
    margin: 0;
    padding: 5px;
    float: right;
}
.add-wish-box {
    padding: 15px;
    margin-top: 20px; /* Adjust margin for spacing */
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 300px; /* Keep a maximum width */
    width: 100%; /* Set the width to 100% */
    color: #333;
    height: 50px;
}

.add-wish-box-add {
    background-color: lightblue;
}

.add-wish-box-update {
    background-color: lightgreen;
}

.add-wish-box-delete {
    background-color: lightcoral;
}

.add-wish-text {
    margin: 0;
    font-size: 1.2rem;
}

.text-descriptions {
    display: inline;
    float: right;
}
.content {
    display: flex;
    flex-direction: row;
    margin-top: 20px; /* Adjust margin as needed */
}

.add-wish-box {
    flex: 1;
    margin-right: 10px; /* Adjust spacing between boxes */
}

.text-descriptions {
    flex: 2;
    margin-left: 10px; /* Adjust spacing between boxes */
}

ul.topnav li {
    list-style: none;
    float: left;
    margin-left: 10px;
}
ul.topnav li a {
    color: #666;
    text-decoration: none;
    padding: 20px;
    text-transform: uppercase;
    font-size: 18px;
}
