<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wishlist</title>
    <link th:href="@{/showWishlist.css}" rel="stylesheet">
</head>
<body>
<header>
    <nav>
        <ul class="topnav">
            <li><a href="https://www.linkedin.com/in/oliver-tvenstrup-lyksted-1394742b2/">Social</a></li>
            <li><a href="https://github.com/ThomasFBN/Wishlist">Github</a></li>
            <li><a href="/home" th:href="@{/home}">Home</a></li>

        </ul>
        <h1 class="headline1">WishList</h1>
    </nav>
</header>
<h2>My Wishlists:</h2>
<table class="wishlist-table">
    <tr>
        <td class="show-wishlist-box">
            <a href="/create" th:href="@{/create}">
                <button>Opret ny ønskeliste</button>
            </a>
        </td>
    </tr>
    <tr th:each="wishlist : ${wishlists}">
        <td>
            <a th:href="@{'/showWish/' + ${wishlist.listId}}">
                <p th:text="${wishlist.wishListName}"></p>
            </a>
        </td>
    </tr>
</table>
</body>
</html>
