<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WishList</title>
    <link th:href="@{/showWish.css}" rel="stylesheet">
</head>
<body>
<header>
    <div class="header">
        <div class="headlines">
            <h1 class="headline1">Here you find all of your added wishes from your wishlist!</h1>
        </div>
    </div>

    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Link</th>
            <th colspan="2">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="wish : ${wishes}">
            <td th:text="${wish.name}"></td>
            <td th:text="${wish.price}"></td>
            <td th:text="${wish.itemURL}"></td>
            <td>
                <a th:href="@{'/editWish/' + ${wish.wishId}}">
                    <button>Edit</button>
                </a>
            </td>
            <td>
                <form th:action="@{'/deleteWish/' + ${wish.wishId}}" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <a th:href="@{'/createWish/' + ${listId}}">
        <button>Add a new wish</button>
    </a>
</header>
</body>
</html>
