<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wishlist</title>
    <link th:href="@{/showWishlist.css}" rel="stylesheet">
</head>
<body>
<header>
    <nav>
        <ul class="topnav">
            <li><a href="https://www.linkedin.com/in/oliver-tvenstrup-lyksted-1394742b2/">Social</a></li>
            <li><a href="https://github.com/ThomasFBN/Wishlist">Github</a></li>

        </ul>
        <h1 class="headline1">WishList</h1>
    </nav>
</header>
<h2>My Wishlists:</h2>
<div class="show-wishlist-box" >
   <button>Opret ny ønskeliste</button>
</div>
</body>
</html>