<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ønskelist</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<header>
    <nav>
        <ul class="topnav">
            <li><a href="https://www.linkedin.com/in/oliver-tvenstrup-lyksted-1394742b2/">Social</a></li>
            <li><a href="https://github.com/ThomasFBN/Wishlist">Github</a></li>
            <li><a href="/showWishlist">Wishlist</a></li>
        </ul>
        <h1 class="headline1">WishList</h1>
    </nav>

    </div>
    <section>

        <div class="buttons">
            <h3>Alle dine ønsker samlet ét sted</h3>
            <h4>Klik under for at oprette din ønskeliste</h4>
            <a href="/create" class="add-wish-box add-wish-box-add">
                <h2 class="add-wish-text">Opret din ønskeliste</h2>
            </a>
        </div>
        </div>
        <div class = "texts">
            <h2>Om os</h2>
            <p>Vi er dedikerede til at gøre gavegivning sjovere og mere meningsfuld ved at tilbyde dig en platform, hvor du nemt kan oprette og administrere dine ønskelister. Med vores brugervenlige grænseflade kan du oprette flere ønskelister og tilføje ønsker fra et bredt udvalg af kategorier, såsom produkter, oplevelser og meget mere.<br>
            Vores hjemmeside giver dig mulighed for at tilpasse dine ønskelister ved at tilføje billeder, beskrivelser og links, hvilket gør det nemt for dine venner og familie at finde og købe de perfekte gaver til dig.<br>
            Uanset om det er til fødselsdage, jubilæer, bryllupper eller højtider, håber vi, at vores Ønskeliste-hjemmeside vil være din foretrukne destination for at organisere dine ønsker og glæde dig med uforglemmelige gaver.<br>
            Velkommen til vores fællesskab, hvor ønsker bliver til virkelighed!</p>
        </div>
    </section>


</header>
<footer>
    <div class="footer-links">
        <a href="WishList.html">Home</a>
        <a href="">Contact</a>
    </div>
    <div class="footer-text">
        &copy; 2024 YourWebsiteName. All rights reserved.
    </div>
</footer>
</body>
</html>
