<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WishList</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<header>
    <nav>
        <ul class="topnav">
            <li><a href="https://www.linkedin.com/in/oliver-tvenstrup-lyksted-1394742b2/">Social</a></li>
            <li><a href="https://github.com/ThomasFBN/Wishlist">Github</a></li>
            <li><a href="/showWishlist">Wishlist</a></li>
        </ul>
        <h1 class="headline1">WishList</h1>
    </nav>

    </div>
    <section>

        <div class="buttons">
            <h3>All your wishes gathered in one place</h3>
            <h4>Press the button under to create your new wishlist!</h4>
            <a href="/create" class="add-wish-box add-wish-box-add">
                <h2 class="add-wish-text">Opret din ønskeliste</h2>
            </a>
        </div>
        </div>
        <div class="texts">
            <h2>About us</h2>
            <p>We are dedicated to making gift-giving more fun and meaningful by offering you a platform where you can easily create and manage your wish lists.<br>
                With our user-friendly interface, you can create multiple wish lists and add wishes from a wide variety of categories, such as products, experiences, and more.<br>
                Our website allows you to customize your wish lists by adding images, descriptions, and links, making it easy for your friends and family to find and buy the perfect gifts for you.<br>
                Whether it's for birthdays, anniversaries, weddings, or holidays, we hope our Wish List website will be your go-to destination for organizing your wishes and delighting you with unforgettable gifts.

                Welcome to our community where wishes come true!</p>
        </div>
    </section>


</header>
<footer>
    <div class="footer-links">
        <a href="WishList.html">Home</a>
    </div>
    <div class="footer-text">
        &copy; 2024 YourWebsiteName. All rights reserved.
    </div>
</footer>
</body>
</html>
